#heading {
	border-bottom: 1px solid $border-color;
	text-align: center;


	h1, nav, ul, li{
		display: inline-block;
		vertical-align: baseline;
		margin: .6rem .4rem .4rem;
	}

	.top-nav a {
		color: $font-color;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	h1 a {
		color: $font-color;
		text-decoration: none;
		font-weight: 400;
	}

	li a {
		padding: 0 .5rem;
	}

	@media (max-width: 642px){
		h1, nav, ul, li {
			margin: $spacing-xs !important;
			text-align: center;
			width: 100%;
			display: block;
		}

		h1, a{
			margin-top: 20px !important;
		}
	}
}