// Our variables

$font-color: #32343c;
$link-color: cornflowerblue;
$background-color: #fdfdfd;
$base-font: 'Lato', sans-serif;
$line-height: 1.5;
$font-size: 1.125em;
$small-font-size: $font-size * 0.875;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
