.site-content { //to keep footer on the bottom
	// flex: 1;
	@include flex(1);
}

article {
	width: 100%;
	max-width: 760px;
	margin: $spacing-s auto;

	@media (max-width: 942px) {
		width: 80%;
		margin: $spacing-xs auto;
	}
}