---
layout: default
---
<section class="post">
  
  <article>
    
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-date">{{ page.date | date: "%b %-d, %Y" }}
    </p>

    <div class="post-content">
      {{ content }}
    </div>

    {% if page.next %}
     <a rel="next" href="{{ site.baseurl }}{{ page.next.url }}" id="next">
       <span class="nav-title nav-title-next">next</span> &rarr;
      </a>
    {% endif %}
    {% if page.previous %}
      <a rel="prev" href="{{ site.baseurl }}{{ page.previous.url }}" id="prev">
        &larr; <span class="nav-title nav-title-prev">previous</span>
      </a>
    {% endif %}

    <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_shortname = 'nicholaschedid';
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

  </article>
  
</section>
